.balle_bot{
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-image: url(../imgs/bot_princ.png);
}

.batman{    
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-image: url(../imgs/batman_dois.png);
}

.loritta{    
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-image: url(../imgs/chatbot.png);
}
